.board-post-index
  - if user_signed_in?
    ようこそ●●さん
    = link_to "ログアウト", destroy_user_session_path, method: :delete
  - else
    = link_to "ログイン", new_user_session_path, :class => 'post'
    = link_to "新規登録", new_user_registration_path, class: 'post'
  .board-post-index-logo
    新着投稿
  .board-post-index-container
