.board-header
  .board-post-header-logo
    Engineer Test Bulletin Board
  .board-post-header-btn
    .board-post-header-btn-post
      = link_to "投稿する", new_board_path, method: :get
      = link_to "トップへ戻る", boards_path, method: :get
      